@model CreateEmployeeDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>

<form asp-action="Edit">

    <partial name="_CreateEditPartialView" />
    
    <div class="m-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>
@section ValidationSection {
    <partial name="_ValidationScriptsPartial" />
}